<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@tournament, url: admin_tournament_path(@tournament)) do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', required: true %>

      <%= f.label :time_start %>
      <%= f.date_field :time_start, class: 'form-control', required: true %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", required: true %>

      <%= f.label :time_end %>
      <%= f.date_field :time_end, class: 'form-control', required: true %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
