<% provide(:title, 'Create A Tournament') %>
<h1>Create a tournament</h1>

<div class="row center">
  <div class="col-md-8 ">
    <%= form_for(@tour, url: "/admin/tournaments") do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>

      <%= f.label 'Begin at' %>
      <%= f.date_field :time_start, class: 'form-control', placehoder: 'Start', required: true %>

      <%= f.label 'Finish at' %>
      <%= f.date_field :time_end, class: 'form-control', placehoder: 'End', required: true %>

      <%= f.label :description %>
      <%= f.rich_text_area :description %>

      <%= f.label 'Is return' %>
      <div class="form-check">
        <label class="form-check-label" for="radio1">
          <input type="radio" class="form-check-input" id="radio1" name="is_return" value="true" checked>Yes
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="is_return" value="false" >No
        </label>
      </div>
      <%= f.label 'Tournament Formula' %>
      <%= f.select :formula, [['Group', 1], ['Round robin', 2]], {}, class: "form-control", id: "js-formula", required: true %>

      <%= f.label 'Participating Teams' %>
      <input type="number" class="form-control" name="num_of_teams" required>

      <%= f.label 'Groups', id: "js-label-group"%>
      <input type="number" class="form-control" name="groups" id="js-groups" required>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  var elm_form = $('#new_tournament');
  $('#js-formula').change(function () {
    if ($('#js-formula').val() === '2') {
      $('#js-groups').hide(200);
      $('#js-groups').val('1');
      $('#js-label-group').hide(200);
    }
    else {
      $('#js-groups').show();
      $('#js-label-group').show();
    }

  });
</script>
