<% provide(:title, 'Create A Tournament') %>
<h1>Create a tournament</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@tournament, url: "/admin/tournaments") do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :rule %>
      <%= f.select :rule, options_for_select([["Vòng Bang", true],["Vong Tròn", false]]), {}, class: "form-control", id: "js-type"%>
      
      <%= f.label "luot ve"%>
      <%= f.select :turn_back, options_for_select([['có', true], ['không', false]]), {}, class: 'form-control' %>

      <%= f.hidden_field :time_start, value: NULL %>
      <%= f.hidden_field :time_end, value: NULL %>

      <%= f.label "số đội"%>
      <%= f.number_field :teams_total, class: 'form-control' %>

      <%= f.submit "Tạo ngay", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
