<% provide(:title, "Edit player") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@player, url: admin_player_path(@player)) do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :position %>  
      <%= f.text_field :position, class: 'form-control' %>

      <%= f.label "Profile Photo" %>
      <%= f.file_field :avatar, class: "form-control"%>

      <div class="upload-preview">
        <img />
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
