<% provide(:title, 'Add player') %>
<% provide(:error, @player) %>
<h1>Create a football-player</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@player, url: admin_team_players_path(@team)) do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :position %>
      <%= f.text_field :position, class: 'form-control' %>

      <%= f.label :number %>
      <%= f.number_field :number, class: 'form-control' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
