<% if @player %>
  <% provide(:title, @player.name) %>
  <div class="row">
    <aside class="col-md-4">
      <% if @player.avatar.attached? %>
        <%= image_tag @player.avatar.variant(resize_to_limit: [500, 500]) %>
      <% else %>
        <%= image_tag('default_image.jpg', size: '300x300') %>
      <% end %>
    </aside>
    <aside class="col-md-8">
      <section class="user_info">
        <h1>
          <%= @player.name %>
        </h1>
        <p>Team: <%= link_to @player.team.name, admin_team_path(@player.team) %>
        </p>
        <p>Total goals: 
          <%= @player.events.select{ |event| event.event_detail_id == 1}.count %>
        </p>
        <p>Total yellow cards: 
          <%= @player.events.select{ |event| event.event_detail_id == 3}.count %>
        </p>
        <p>Total red cards: 
          <%= @player.events.select{ |event| event.event_detail_id == 2}.count %>
        </p>
        <% if admin? %>
          <p>
            <%= link_to "Update profile player", edit_admin_player_path(@player) %>
          </p>
        <% end %> 
      </section>
    </aside>
  </div>
<% else %>
  <% provide(:title, 'Not Found') %>
  <h4>Could not found this player. Please check again</h4>
<% end %>
