<% if @player %>
  <% provide(:title, @player.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @player.name %>
        </h1>
        <p>Team: <%= link_to @player.team.name, admin_team_path(@player.team) %>
        </p>
        <p>Total goals: 
          <%= 0 %>
        </p>
        <p>Total yellow cards: 
          <%= 0 %>
        </p>
        <p>Total red cards: 
          <%= 0 %>
        </p>
        <% if admin? %>
          <p>
            <%= link_to "Update profile player", edit_admin_player_path(@player) %>
          </p>
        <% end %> 
      </section>
    </aside>
  </div>
<% else %>
  <% provide(:title, 'Not Found') %>
  <h4>Could not found this player. Please check again</h4>
<% end %>
