<div class="jumbotron center">
  <div class="row">
    <div class="col-md-8">
      <%= form_for(@match, url: admin_tournament_match_path(@match.tournament, @match), local: true) do |f| %>
        <h1>Edit Match info</h1>
        <%= f.label :time %>
        <%= f.datetime_field :time, class: 'form-control', required: true %>

        <%= f.label :place %>
        <%= f.text_field :place, class: 'form-control', required: true %>
        <br />

        <%= f.submit "Save changes", class: "btn btn-primary btn-inline" %>
        <%= link_to 'Cancel', admin_tournament_matches_path(@match.tournament) %>
      <% end %>
    </div>
  </div>
</div>
