<section class="hero-section set-bg" data-setbg='hero/hero-1.jpg'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hs-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="hs-text">
                  <% sample = @today_matches.to_a.sample %>
                  <h4><%= sample.time %></h4>
                  <h2><%= sample.teams.first.name %> VS <%= sample.teams.last.name %> in <%= sample.place %></h2>
                  <h4><%= link_to sample.tournament.name, sample.tournament %></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Match Section Begin -->
<section class="match-section set-bg" data-setbg="match/match-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="ms-content">
          <h4>Next Match</h4>
          <% if @today_matches.any? %>
            <% @today_matches.each do |match|%>
              <div class="mc-table">
                <table>
                  <tbody>
                    <tr>
                      <td class="left-team">
                        <% if match.teams.first.logo.attached? %>
                          <%= image_tag match.teams.first.logo.variant(resize_to_limit: [100, 100]) %>
                        <% else %>
                          <%= image_tag('match/tf-2.jpg') %>
                        <% end %>
                        <h6><%= match.teams.first.name%></h6>
                      </td>
                      <td class="mt-content">
                        <div class="mc-op"><%= match.tournament.name %></div>
                        <h4>VS</h4>
                        <div class="mc-op"><%= "#{match.time.day} #{match.time.month} #{match.time.year}" %></div>
                      </td>
                      <td class="right-team">
                        <% if match.teams.last.logo.attached? %>
                          <%= image_tag match.teams.last.logo.variant(resize_to_limit: [100, 100]) %>
                        <% else %>
                          <%= image_tag('match/tf-2.jpg') %>
                        <% end %>
                        <h6><%= match.teams.last.name%></h6>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% else %>
            <h4>No matches to show<h4>
          <% end %> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ms-content">
          <h4>Recent Results</h4>
          <% if @last_matches.any? %>
            <% @last_matches.each do |match| %>
              <div class="mc-table">
                <table>
                  <tbody>
                    <tr>
                      <td class="left-team">
                        <% if match.teams.first.logo.attached? %>
                          <%= image_tag match.teams.first.logo.variant(resize_to_limit: [100, 100]) %>
                        <% else %>
                          <%= image_tag('match/tf-2.jpg') %>
                        <% end %>
                        <h6><%= match.teams.first.name %></h6>
                      </td>
                      <td class="mt-content">
                        <div class="mc-op"><%= match.tournament.name %></div>
                        <h4><%= match.results.first.goals || '-' %> : <%= match.results.last.goals || '-'%></h4>
                        <div class="mc-op"><%= match.time %> </div>
                      </td>
                      <td class="right-team">
                        <% if match.teams.last.logo.attached? %>
                          <%= image_tag match.teams.last.logo.variant(resize_to_limit: [100, 100]) %>
                        <% else %>
                          <%= image_tag('match/tf-2.jpg') %>
                        <% end %>
                        <h6><%= match.teams.last.name %></h6>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% else %>
            <h4>Yesterday no matches</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Latest Section Begin -->
<section class="latest-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title latest-title">
          <h3>Latest <span>Posts</span></h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="news-item left-news">
              <%= image_tag @first_post.first.content.embeds.find{ |embeds| embeds.image? }.variant(resize_to_limit: [340, 240])%>
              <div class="ni-text">
                <h4><%= link_to @first_post.first.title, @first_post.first %></h4>
                <ul>
                  <li><i class="fa fa-calendar"></i> <%= @first_post.first.created_at %></li>
                  <li><i class="fa fa-edit"></i> <%= @first_post.first.count_views %> views</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <% @posts.each do |post| %>
              <div class="news-item">
                <div class="ni-pic">
                  <%= image_tag post.content.embeds.find{|embeds| embeds.image?}.variant(resize_to_limit: [100,100]) %>
                </div>
                <div class="ni-text">
                  <h5><%= link_to post.title, post %></h5>
                  <ul>
                    <li><i class="fa fa-calendar"></i><%= post.created_at %></li>
                    <li><i class="fa fa-edit"></i> <%= post.count_views %> views</li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="section-title">
          <h3><%= @round.tournament.name %> <span>Ranking</span></h3>
        </div>
        <div class="points-table">
          <table>
            <thead>
              <tr>
                <th class="th-o">Pos</th>
                <th>Team</th>
                <th class="th-o">W</th>
                <th class="th-o">D</th>
                <th class="th-o">L</th>
                <th class="th-o">PTS</th>
              </tr>
            </thead>
            <tbody>
              <% @ranks.each_with_index do |rank, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td class="team-name">
                    <% if rank.team.logo.attached? %>
                      <%= image_tag rank.team.logo.variant(resize_to_limit: [36, 22]) %>
                    <% else %>
                      <%= image_tag('match/tf-2.jpg', size: "36x22") %>
                    <% end %>
                    <span><%= rank.team.name %></span>
                  </td>
                  <td><%= rank.win  %></td>
                  <td><%= rank.lose %></td>
                  <td><%= rank.draw %></td>
                  <td><%= rank.score %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Popular News Section Begin -->
<section class="popular-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title">
          <h3>Popular <span>Post</span></h3>
        </div>
        <div class="row">
          <% @popular_first_posts.each do |post|%>
            <div class="col-md-6">
              <div class="news-item">
                <%= image_tag post.content.embeds.find{|embeds| embeds.image?}.variant(resize_to_limit: [300,240])%>
                <div class="ni-text">
                  <h5><%= link_to post.title, post %></h5>
                  <ul>
                    <li><i class="fa fa-calendar"></i> <%= post.created_at %></li>
                    <li><i class="fa fa-edit"></i> <%= post.count_views %> views</li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @popular_posts.each do |post|%>
            <div class="col-md-6">
              <div class="news-item">
              <div class="ni-pic">
                <%= image_tag post.content.embeds.find{|embeds| embeds.image?}.variant(resize_to_limit: [110, 100])%>
              </div>
              <div class="ni-text">
                <h5><%= link_to post.title, post %></h5>
                <ul>
                  <li><i class="fa fa-calendar"></i> <%= post.created_at %></li>
                  <li><i class="fa fa-edit"></i> <%= post.count_views %> views</li>
                </ul>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="section-title">
          <h3>Follow <span>Us</span></h3>
        </div>
        <div class="follow-links">
          <ul>
            <li class="facebook">
              <i class="fa fa-facebook"></i>
              <div class="fl-name">Facebook</div>
              <span class="fl-fan">2.530 Fans</span>
            </li>
            <li class="twitter">
              <i class="fa fa-twitter"></i>
              <div class="fl-name">Twitter</div>
              <span class="fl-fan">2.046 Fans</span>
            </li>
            <li class="google">
              <i class="fa fa-google"></i>
              <div class="fl-name">Google</div>
              <span class="fl-fan">1.170 Fans</span>
            </li>
          </ul>
        </div>
        <div class="vote-option set-bg" data-setbg="news/vote-bg.jpg">
          <div class="vo-text">
            <h5>In your opinion, which country will win this year</h5>
            <div class="vt-item">
              <input type="radio" name="like-team" id="one">
              <label for="one">Germany</label>
            </div>
            <div class="vt-item">
              <input type="radio" name="like-team" id="two">
              <label for="two">Brazil</label>
            </div>
            <div class="vt-item">
              <input type="radio" name="like-team" id="three">
              <label for="three">Myanmar</label>
            </div>
            <div class="vt-item">
              <input type="radio" name="like-team" id="four">
              <label for="four">Argentina</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Popular News Section End -->