<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@post, url: admin_post_path(@post), local: true) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.rich_text_area :content %>

      <%= f.label :category %>
      <%= f.text_field :category, class: 'form-control' %>
      <%= f.submit "Save changes", class: "btn btn-primary btn-inline" %>
      <%= link_to 'Cancel', admin_post_path(@post) %>
    <% end %>
  </div>
</div>
