<% provide(:title, 'Thêm một bài đăng') %>
<h1>Tạo một bài viết</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_with scope: :post, url: "/admin/posts", local: true do |f| %>

      <%= f.label 'tiêu đề' %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label 'nội dung' %>
      <%= f.rich_text_area :content %>

      <%= f.label 'thể loại' %>
      <%= f.text_field :category, class: 'form-control' %>

      <%= f.hidden_field :status, value: false, class: 'form-control' %>

      <%= f.submit "Tạo ngay", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
