<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Specer Template">
  <meta name="keywords" content="Specer, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag 'public/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'public/application', 'data-turbolinks-track': 'reload' %>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Page Preloder -->
  <!-- Header Section Begin -->
  <header class="header-section">
    <div class="header__nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo">
              <%= link_to image_tag('logo.png', alt: 'home page'), root_path %>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="nav-menu">
              <ul class="main-menu">
                <li class="active"><a href="./">Home</a></li>
                <li><%= link_to "Posts", posts_path %></li>
                <li><%= link_to "Schedules", schedules_path %></li>
                <li><%= link_to "Tournaments", tournaments_path %></li>
                <li><a href="https://fb.com/minhvuonga31">Contact Us</a></li>
              </ul>
              <div class="nm-right search-switch">
                <%= link_to 'Login', login_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="canvas-open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- Hero Section Begin -->
  
  <%= yield %>

  <!-- Footer Section Begin -->
  
</body>

</html>