<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: admin_user_path(@user)) do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: 'form-control' %>

      <div class="upload-preview" height="300">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize_to_limit: [500, 500]) %>
        <% else %>
          <img width="auto" max-height="100%" />
        <% end %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary btn-inline" %>
      <%= link_to 'Cancel', admin_user_path(@user) %>
    <% end %>
  </div>
</div>
