<% provide(:title, "Edit team") %>

<div class="container row">
  <h1>Update your profile</h1>
  <div class="col-md-10">
    <%= form_for(@team, url: admin_team_path(@team)) do |f| %>
      <%= render partial: 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.rich_text_area :description %>

      <%= f.label "team's logo:" %>
      
      <div class="upload-preview">
        <img width="200" height="150" />
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary btn-inline" %>
      <%= link_to 'Cancel', admin_team_path(@team) %>
    <% end %>
  </div>
</div>
