<% provide(:title, @team.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
      <h1>
        <%= @team.name %>
      </h1>
      <p>
        <%= link_to "Update Team", edit_admin_team_path(@team) %>
      </p>
      <p>
          <%= link_to "Back to tournament", admin_tournament_path(@team.tournament) %>
      </p>
    </section>
  </aside>
  <aside class="col-md-6">
    <% if @team.logo.attached? %>
      <a href="<%= url_for(@team.logo)%>" rel="theater"><%= image_tag @team.logo.variant(resize_to_limit: [100, 100]) %></a>
    <% end %>
  </aside>
</div>
<div class="row">
  <div style="float: right">
    <%= link_to(new_admin_team_player_path(@team)) do %>
      <i class="fas fa-plus-square fa-2x"></i>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name player</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      <% @team.players.each do |player| %>
        <tr>
          <th scope="row"><%= link_to player.name, admin_player_path(player) %></th>
          <td><%= player.position %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
